atomicwrites==1.2.1
attrs==18.2.0
base58==1.0.2
certifi==2018.10.15
chardet==3.0.4
codecov==2.0.15
coverage==4.5.1
ecdsa==0.13.3
fastecdsa==1.6.5
idna==2.7
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==3.9.2
pytest-cov==2.6.0
requests==2.20.0
six==1.11.0
urllib3==1.24
